<div class="login-container">

      <div class="login-form-container">
        <form class="login-form">
            <img src="https://www.sigmahr.co.in/images/logo.gif" alt="Company Logo" class="img-fluid mx-auto d-block mb-4">
                        <h2 class="text-center mb-4">Login with your username</h2>
      <label for="username">Enter Your Username</label>
      <input type="text" id="username" formControlName="username">
  
      <label for="password">Enter Your Password</label>
      <input type="password" id="password" formControlName="password">
  
      <button type="submit" routerLink="/dashboard">Login</button>
    </form>
    </div>
  </div>
  