<nav class="sidebar">
    <div class="user-card card mb-3">
      <div class="card-body d-flex align-items-center">
        <img src="https://www.sigmahr.co.in/images/logo.gif" alt="User Icon" class="img-fluid mx-auto d-block mb-4">
      </div>
    </div>
        <div class="menu">
          <ul>
            <li>
              <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li>
              <a routerLink="/settings" routerLinkActive="active">Settings</a>
            </li>
      
            <li>
                <div class="dropdown-toggle" (click)="toggleDropdown('dropdown1')">
                  Components 1
                  <span class="arrow" [class.rotate]="dropdowns['dropdown1']">&#x25BC;</span>
                </div>
                <ul class="dropdown" [class.show]="dropdowns['dropdown1']">
                  <li>
                    <a routerLink="/component1" routerLinkActive="active">Component 1.1</a>
                  </li>
                  <li>
                    <a routerLink="/component2" routerLinkActive="active">Component 1.2</a>
                  </li>
                </ul>
              </li>
        
              <!-- Dropdown 2 -->
              <li>
                <div class="dropdown-toggle" (click)="toggleDropdown('dropdown2')">
                  Components 2
                  <span class="arrow" [class.rotate]="dropdowns['dropdown2']">&#x25BC;</span>
                </div>
                <ul class="dropdown" [class.show]="dropdowns['dropdown2']">
                  <li>
                    <a routerLink="/component3" routerLinkActive="active">Component 2.1</a>
                  </li>
                  <li>
                    <a routerLink="/component4" routerLinkActive="active">Component 2.2</a>
                  </li>
                </ul>
              </li>
          </ul>
        </div>
      </nav>
      
  